<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css.map"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/css/home.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/css/comum.css"  media="screen,projection"/>
   
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body class=" blue-grey darken-3">
   
    <div class="row m-5">
        <div class="col-2 center" > <img width="100" height="100" src="/img/status.png"> </div>
        <div class="col-6 "><h1 class="blue-grey">Processos</h1></div>
        <div class="col-4">
          <ul class="list-group list-group-horizontal">
            <li class="list-group-item list-group-item-primary"><h1><a href="/principal"><i class="material-icons">home</i></a></h1></li>
            <li class="list-group-item list-group-item-primary"><h1><a href="/principal"><i class="material-icons">arrow_back</i></a></h1></li>
           
          </ul>          
        </div>
    </div>
    <div class="row">
        <div class="container ">
            <div class="row divLoginCaixa z-depth-3">
              <div class=" col s12">

                <div class="row">
                    <div class="col-12 ">
                        
                        <a class="btn- btn-large waves-effect waves-light cyan darken-4" onclick="limpardadosCep()"  data-toggle="modal" data-target="#modalPessoaCep">Pessoa CEP</a>
 
                    </div>

                </div>

     
    <div class="row">
      <div class="container ">
          <!-- <div class="row divLoginCaixa z-depth-3"> -->
            <div class=" col s12">
              <a href="/principal"> 
                <div class="row divLoginCaixa z-depth-3">
                
                  <div class="container ">
                            
                      <span >Voltar</span>
                
                   </div> 
                </div>
             </a>
            </div>
          <!-- </div> -->
      </div>
    </div>
        <footer class="footer container">
                
        </footer>



    <!-- Modals -->

    <!-- Verificar Pessoa CEP -->
    <div class="modal fade painelForm" id="modalPessoaCep" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Validar CEP:</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
     
              <div class="modal-body">
              
                  <div class="row">
                    <div class="col-12">
                        <label id="lbPessoa" class="active" for="pessoaCEP">Pessoa</label>
                        <p>
                            <label>
                              <input id="cargaCEP" name="cargaCEP" type="checkbox"  />
                              <span>Carga</span>
                            </label>
                          </p>
                      <div class="input-field ">
                        <input  id="pessoaCEP" name="pessoaCEP" type="text" class="validate">
                      </div>
                      <div class="">
                        <select style="display: block;" id="grupoP" name="grupoP">
                            <option selected value="cliente_pessoa">Cliente</option>
                            <option value="fornecedor_pessoa">Fornecedor</option>
                            <option value="funcionario_pessoa">Funcionário</option>
                            <option value="outros_pessoa">Outros</option>
                        </select>
                      </div>
                    </div>

                  
                  </div>

      
            <div class="modal-footer">
              <div class="row container">
    
                <div class="col-6 container">
                    <!-- <button id="btVerificar" type='button' class="btn btn-primary" onclick="consultaPessoaCEP()" >Verificar </button> -->
                    <a class="btn- btn-large waves-effect waves-light" onclick="consultaPessoaCEP()"  data-toggle="modal" data-target="#modalVisualizarPessoaCEP">Verificar</a>
  
                  </div>
                <div class="col-6 container">
                  <a  data-dismiss="modal" class="Close btn- btn-large waves-effect waves-light">Sair</a>
                  
                </div>
               

              </div>
              
            
              
            </div>
          
        </div>
      </div>
    </div>
  </div>
   <!-- Formulario Visualização Pessoa CEP-->
   <div class="modal fade painelForm" id="modalVisualizarPessoaCEP" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Pessoas x CEP</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
          
            <div class="modal-body">
            
                <div class="row">
                    <div class="row">
                        <div class="col-12 container" >
                            <div class="row">
                                <div class=" col-12">
                                  <table id="tabelaPessoaCEP" name='tabelaPessoaCEP' class="table-striped highlight table-hover  centered tbStatus">
                                    <thead id="cabecalhotb" name='cabecalhotb'>
                                        <th>Pessoa</th>
                                        <th>CEP</th>
                                        <th>TIPO</th>
                                        <th>VALIDO</th>
                                    </thead>
                                     <tbody id="corpoTabela" name='corpoTabela'>
    
                                     </tbody> 
                                    
                                  </table>
                                </di>
    
                            </div>
                           
                          </div>
                        </div>
                      
                        </div>
                   
                   </div>
                </div>
            </div>
        </div>
                  
    </div>

        
          <div class="modal-footer">
            <div class="row container">
                <div  class="col-6 center-align"> 
                  <span id="divMsg" class="flow-text deep-orange-text text-darken-4"></span>
              </div>


            </div>
 
          </div>
        
      </div>
    </div>
  </div>
</div>
    
    <!-- Formulario Alteração -->
    <div class="modal fade painelForm" id="modalAlterarLocal" tabindex="-1" role="dialog" aria-labelledby="ModalAlteracao" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="ModalAlteracao">Alterar Local de Avaria em Produto:</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
            <form id="formAlterarLocalLD" name="formAlterarLocalLD" action="/LD/Local/Alterar" method="POST">
              <div class="modal-body">
              
                  <div class="row">
                    <div class="input-field col s12">
                      <!-- <input type="hidden" name="idStatusAlterar" id="idStatusAlterar" value=""> -->
                      <!-- <i class="material-icons prefix">account_circle</i> -->
                      <h3 id="StatusAlterar" style="font-style: oblique;"></h3>
                      <label class="active" for="status">Local </label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <i class="material-icons prefix">edit</i>
                      <input  id="descricaoAlteracaoLocal" name="descricaoAlteracaoLocal"  type="text" class="validate">
                      <!-- <label class="active" for="descricaoAlteracao">Status</label> -->
                    </div>
                  </div>

            </form>
            <div class="modal-footer">
              <div class="row container">
                  <div  class="col-6 center-align"> 
                    <span id="divMsg" class="flow-text deep-orange-text text-darken-4"></span>
                </div>
                
              </div>
              
            
              
            </div>
          
        </div>
      </div>
    </div>

    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="/js/materialize.min.js"></script>
    <script type="text/javascript" src="/js/jquery.slim.min.js"  ></script>
    <script type="text/javascript" src="/js/popper.min.js"  ></script>
    <script type="text/javascript" src="/js/bootstrap.min.js" ></script>
    <script type="text/javascript" src="/js/axios.js"></script>
    <script type="text/javascript" src="/js/Processos/controleProcessos.js"></script>
    <script type="text/javascript" src="/js/config.js"></script>

    <script>
        $(document).ready(function() {
          M.updateTextFields();
        });
    </script>

    <script>
      ordenarTabelaPorColuna() 
    </script>
  </body>
</html>